
/*----------------------------TIME LINE STYLES----------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat";
}

.container {
  min-height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  overflow: hidden;
  background-color: #e4fcfc;
}

.timeline {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}

.timeline ul li {
  padding: 20px;
  background-color: #173353;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  gap: 100px;
}

.timeline ul li:last-child {
  margin-bottom: 0;
}


.timeline-content h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
}
.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}
.timeline-content .date {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}


.timeline-info {
    background-color: #173353;
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    flex: 1;
    font-size: 20px;
    min-width: 350px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: gray;
  }

  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }

  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;


    flex-direction: row;
  }
 
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;

 
    flex-direction: row-reverse;
  }
 
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }

  .timeline-content .date {
    position: absolute;
    top: -30px;
  }

  .timeline ul li:hover::before {
    background-color: #173353;
  }
}
/*-------------------------------------------------------------------------------------------------------*/

/*----------------------------GENERAL STYLES----------------------------------*/

* { box-sizing: border-box; 
}

body { 
    background-color: #8bc1c5;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper { 
	background-color: #e4fcfc;
}

header { 
  background-color: #173353;
  background-position: right;
  background-repeat: no-repeat;
  color: #FFFFFF;
  text-align: center;
}

header a {
    text-decoration: none; 
}

header a:link{
    color: #FFFFFF;
}

header a:visited {
    color: #FFFFFF;
}

header a:hover {
    color: #90C7E3;
}

nav { 
    font-weight: bold; 
    padding: 0;
    font-size: 110%;
    text-align: center;
    border-right: #000033 2px solid;
    border-bottom: #000033 2px solid;
    border-left: #000033 2px solid;
    font-family:Georgia, 'Times New Roman', Times, serif
}

nav li {
    border-bottom: 1px solid #000033;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    font-size: 1.2em;
}

nav a {
    text-decoration: none;
    color: #000033;
    font-weight: bold;
    display: block;
    padding: 0.5em;
}

nav a:link {
    color: #5C7FA3;
}

nav a:visited {
    color: #344873;
}

nav a:hover {
    color: #a52a2a;
}

main { 
    padding: 1px 20px 20px 30px; 
    display: block;
    background-color: #e4fcfc;
    overflow: auto;
}

h1 {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: Georgia, 'Times New Roman', serif;
    letter-spacing: .25em;
}

h2 { 
    color: #1976D2;
    text-shadow: 1px 1px 1px #cccccc;
    font-family: Georgia, 'Times New Roman', serif;
    padding-top: 0;
}

h3 { 
    font-family: Georgia, 'Times New Roman', serif;
    color: #000033;
}

h4 {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0em;
    padding-bottom: 0em;
    font-family: Georgia, 'Times New Roman', serif;
    letter-spacing: .1em;
}

h5 { 
    color: #ffffff;
    text-shadow: 1px 1px 1px #00ccff;
    font-family: monospace;
    font-size: 25px;
    letter-spacing: .05em;
}

h6 { 
    color: #ffffff;
    font-family: monospace;
    font-size: 15px;
}

main ul {
    list-style-image: url("marker.gif");
}

footer { 
    background-color: #e4fcfc;
    padding: 2em;
    font-size: 75%;
	font-style: italic;
	font-family: Georgia, "Times New Roman", serif; 
}


.home-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
  margin-top: 20px;
}

.left-half {
  width: 50%;
  padding: 2em;
}

.right-half {
  width: 50%;
}

.onethird {
    width: 33.33%;
    padding: 2em;
    text-align: center; 
}

.home { 
    color: #050315; 
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}	

.title2 {
    color: #002171; 
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.title3 {
    color: #002171; 
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    padding-top: 5em;
}

.intro{
  color:#000000;
  font-size: 18px;
  line-height: 1.6;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
}

#contact { 
    font-size: 90%; 
}

dt { 
    color: #002171; 
}

address {
    font-style: normal;
}

p{
    margin-bottom: 1em;
}
/*-------------------------------------------------------------------------------------------------------*/

/*----------------------------IMAGES----------------------------------*/
#coverimage{
    background-image: url(CoverImage.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    border:#000000 4px solid;
}

#coverimage2{
    background-image: url(CoverImage2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 315px;
    width: 600px;
    border:#000000 4px solid;
}

#earlyimage{
    background-image: url(early_1.png);
}

#earlyimage2 {
  background-image: url(early_2.png);
}

#earlyimage3 {
  background-image: url(early_3.png); 
}

#earlyimage, #earlyimage2, #earlyimage3 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 350px; 
  border: #000000 4px solid;
  margin: 0 auto; 
}

#banimage{
    background-image: url(ban.png);
}

#plagiarizedimage{
  background-image: url(plagiarized.png);
}

#plagiarizedimage, #banimage {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    border:#000000 4px solid;
}

#influence1{
    background-image: url(Influence1.png); 
}

#influence2{
    background-image: url(Influence2.png);
}

#influence3{
    background-image: url(Influence3.png);
}

#influence4{
    background-image: url(Influence4.png);
}

#influence5{
    background-image: url(Influence5.png);
}

#influence6{
    background-image: url(Influence6.png);
}

#influence1, #influence2, #influence3, #influence4, #influence5, #influence6 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 550px; 
    border:#000000 4px solid;
    margin: 0 auto; 
}

body {
  background-image: url("background.png");
}

#homehero {
    background-image: url('bow.jpg');
}

#earlyhero {
    background-image: url('earlycareer.png');
}

#controversieshero {
    background-image: url('controversies.png');
}
#tophitshero {
    background-image: url('tophits.png');
}

#influencehero {
    background-image: url('influence.png');
}

#homehero, #controversieshero, #tophitshero, #earlyhero, #influencehero {
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    position:relative;
}
/*----------------------------Table----------------------------------*/
section {
    margin-left: 2em;
    margin-right: 2em;
}

.flow {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
   
table {
    border: 2px solid #3399CC;
    border-collapse: collapse;
}

td, th {
    color: #000000;
    border: 2px solid #3399CC;
    padding: 8px;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

td {
    color: #000000;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.text {
    color: #000000;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

tr:nth-of-type(odd) {
    background-color: #f5fafc;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

input,textarea {
  margin-bottom: 0.5em;
}

/*-------------------------------------------------------------------------------------------------------*/

/*----------------------------MEDIA QUERIES----------------------------------*/
@media (min-width: 600px){
    #homehero, #controversieshero, #tophitshero, #earlyhero, #influencehero {
        height: 300px;
    }

    nav ul{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }
    nav li{
        border-bottom: none;
    }
    .flow {
        display: flex;
        flex-direction: row; 
    }
    section {
        flex: 1;
    }

    form {
        width: 60%;
        max-width: 30em;
        display: grid;
        gap: 1em;
        grid-template-columns: 6em 1fr;
    }

    input[type="submit"] {
        grid-column: 2;
        width: 9em;
    }
}

@media (min-width: 1024px) {
        #homehero, #controversieshero, #tophitshero, #earlyhero, #influencehero {
        height: 300px;
    }

    #wrapper {
        margin: auto;
        width: 80%;
        border: 1px solid #000033;
        box-shadow: 3px 3px 3px #000033;
    }

    nav {
        text-align: left; 
        padding-left: 1em;
    }
}
